@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    @include flex_box_custom(center, center, 0px);
    margin: 65px 0px 15px;
}

.headline {
    flex: 1; // Tự động lấp đầy không gian hai bên
    height: 1px;
    background-color: #e1e1e1;
    margin-top: 5px; // Căn giữa theo dòng chữ
}

.containerMiddleBox {
    @include flex_box_custom(center, center, 0px);
    padding: 0px 30px;
    flex-direction: column;
    text-align: center;
    white-space: nowrap;
}

.des {
    font-size: 14px;
    color: $thr_color;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.title {
    font-size: 28px;
    color: $primary_color;
    font-weight: 500;
    margin: 0;
}