@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    background-image: url(../../assets/images/count-down-banner.jpeg);
    height: 409px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    // Căn giữa toàn bộ nội dung
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.containerTimer {
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    color: $four_color;
    margin: 15px 0;
    text-align: center;
    font-weight: 500;
}

.boxBtn { 
    margin-top: 10px;
}